<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dutchOrder.server.dao.JhMemberDao">

    <select id="findUserByMemail" parameterType="map" resultType="com.dutchOrder.server.model.JhMember">
        SELECT * FROM member WHERE memail = #{memail}
    </select>

    <select id="findUserByMemailAndMpw" parameterType="map" resultType="com.dutchOrder.server.model.JhMember">
        SELECT * FROM member WHERE memail = #{memail} AND mpw = #{mpw}
    </select>

</mapper>
